<h1>NEW RESTAURANT</h1>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name, placeholder: 'Resto name' %>
  <%= f.input :address, placeholder: 'address' %>
  <%= f.input :phone_number, placeholder: 'phone number' %>
  <%= f.input :category, placeholder: 'indian, italian, japanese, french, belgian, chinese' %>
  <%= f.submit :submit %>
<% end %>
